*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif, roboto;
}

.center{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.main{
  padding: 40px 0;
  width: 100%;
  background-color: black;
  background-image: url(https://images.pexels.com/photos/1252872/pexels-photo-1252872.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu h3{
  color: white;
}

h2{
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
}

.item-menu a{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 5px;
}

.form{
  width: 100%;
  display: flex;
  max-width: 600px;
  margin: 40px auto;
  justify-content: center;
  flex-wrap: wrap;
}
.itens-form{
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.itens-form input[type=text]{
  width: 48%;
  height: 30px;
  margin: 6px 0px;
  padding-left: 10px;
}

.itens-form input[type=button]{
  width: 200px;
  height: 30px;
  background-color: #0B64D1;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  border: 2px 2pxs black;
}

@media screen and (max-width: 768px) {
  .itens-form input[type=text]{
    width: 100%;
  }
  .conteudo-single{
    width: 100%;
  }
}

.conteudo-single{
  margin-top: 40px;
  width: 50%;
  padding: 8px 30px;
}
